@import url('../../../styles/_colors.css');
@import url('../../../styles/_fonts.css');

.questionNumber {
    font-family: var(--primary-font);
    font-size: 4rem;
    font-weight: 800;
    color: var(--color-white);
    background: var(--background-color-yellow);
}
  
span {
    margin-right: 30px;
}
  