@import url('../../../styles/_colors.css');
@import url('../../../styles/_fonts.css');

.question {
    font-family: var(--primary-font);
    line-height: 1.6;
    font-size: 1.6rem;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    border-bottom: 0.1875rem solid rgba(0, 0, 0, 0.15);
}
  
.container {
    background: var(--background-color-white);
}

.main {
    position: relative;
}

.main .chart {
    display: flex;
    padding-bottom: 1rem;
}

.main .chart .column {
    display: flex;
    flex-direction: column-reverse;
    min-width: 14rem;
    margin: 0 0.5rem 0.5rem 0.5rem;
}

.main .chart .column .block {
    display: flex;
    height: 3rem;
    border-radius: 0.4rem;
    align-items: center;
    justify-content: center;
}

.main .chart .column .block svg {
    color: var(--color-white);
}

.main .chart .column .bar {
    margin-bottom: 0.5rem;
}

.main .chart .column .count {
    font-size: 3rem;
    font-weight: 900;
    min-height: 2rem;
    text-align: center;
}

.main .chart .column .count svg {
    font-size: 2.4rem;
}

.main .chart .column .redFont {
    color: var(--color-answer-red);
}

.main .chart .column .blueFont {
    color: var(--color-answer-blue);
}

.main .chart .column .orangeFont {
    color: var(--color-answer-orange);
}

.main .chart .column .greenFont {
    color: var(--color-answer-green);
}

.controls {
    justify-content: flex-end;
    padding: 1.4rem 1.4rem 0 1.4rem;
}

.answers {
    font-size: 2.4rem;
    font-weight: bold;
    color: var(--color-white);
    background: var(--background-color-white);
    border-bottom: 0.1875rem solid rgba(0, 0, 0, 0.15);
}

.answers div {
    min-height: 15vh;
    border: 0.1rem solid var(--color-white);
    padding: 0.5rem;
    opacity: 0.5;
}

.red {
    background-color: var(--color-answer-red);
}

.blue {
    background-color: var(--color-answer-blue);
}

.orange {
    background-color: var(--color-answer-orange);
}

.green {
    background-color: var(--color-answer-green);
}

svg.icons {
    color: var(--color-white);
    font-size: 4rem;
    margin-right: 1rem;
}

.nextBtn {
    min-height: 4.8rem;
    max-width: 5.2rem;
    margin-right: 2rem;
}

.nextBtn span {
    font-size: 1.6rem;
    margin: 0 2rem;
    font-weight: bold;
}

@media only screen and (max-width: 420px) {
    .main .chart .column {
        min-width: 5rem;
    }

    .question {
        font-size: 0.8rem;
    }

    svg.icons {
        font-size: 2.4rem;
    }
}
