@import url('../../../../styles/_colors.css');
@import url('../../../../styles/_fonts.css');

.title {
    font-family: var(--main-logo);
    font-size: 3.2rem;
    color: var(--color-white);
    background-color: var(--background-color-grey);
    border-bottom: 0.1875rem solid rgba(0, 0, 0, 0.15);
}

.container {
    font-family: var(--secondary-font);
    font-size: 1.6rem;
    background-color: var(--background-color-orange);
}

.container > h2 {
    font-size: 3.2rem;
}
  