@import url('../../../styles/_colors.css');
@import url('../../../styles/_fonts.css');

.container {
    background-color: var(--background-color-white);
}
  
.title {
    font-family: var(--main-logo);
    font-size: 3.2rem;
    color: var(--color-white);
    background-color: var(--background-color-grey);
    border-bottom: 0.1875rem solid rgba(0, 0, 0, 0.15);
}

.preview {
    font-family: var(--secondary-font);
    font-size: 1.6rem;
    padding: 2rem;
}

.questions > div {
    margin: 1rem 0;
}

.hostGameBtn > span {
    font-family: var(--secondary-font);
    font-size: 1.6rem;
    margin: 0 auto;
}
